:root {
    --bg-color: #3f51b5;

}

* {
    font-family: 'Roboto', sans-serif;
}

.main-navbar {
    background-color: var(--bg-color);
}

.btn {
    transition: 0.25s!important;
}

.btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transform: translateY(-0.25em);
}

.register-header {
    margin: -2rem 1rem 1rem;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
}

.mt-50 {
    margin-top: 100px;
}